<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Microsub Notifier</title>
  <style>
    .main-wrapper {
      max-width: 40em;
      margin: 0 auto;
      font-family: sans-serif;
    }
    input[type=text] {
      display: block;
      width: 100%;
    }
    button,
    input[type=button] {
      display: block;
      font-size: 1em;
      padding: .3em .6em;
      cursor: pointer;
    }
    label {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="main-wrapper">
    <header class="main-header">
      <h1>Microsub Notifier</h1>
    </header>
    {% block content %}{% endblock %}
    <footer class="main-footer">
      <p>By <a href="https://grant.codes">grant.codes</a></p>
    </footer>
  </div>
</body>
</html>