{% extends "base.njk" %}

{% block content %}
  <form action="/login" method="get">
    <p>
      <label for="me">Login with your domain</label>
    </p>
    </p>
      <input type="url" required id="me" name="me" />
    </p>
    <button type="submit">Login</button>
  </form>
{% endblock %}